<ion-header>
  <head-nav>
  </head-nav>
</ion-header>

<ion-content>
  <div class="timer">
    <div>{{getHours()}} : {{getMinutes()}} : {{getSeconds()}} . {{getTenths()}}</div>
  </div>

  <ion-buttons>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="startTimer()">
          Start
        </button>
      </ion-col>
      <ion-col>
        <button ion-button full color="danger" (click)="stopTimer()">
          Stop
        </button>
      </ion-col>
    </ion-row>
  </ion-buttons>

  <ion-row>
    <ion-col>
      <div class="team-name">Wilson</div>
    </ion-col>
    <ion-col>
      <div class="team-name">Marv</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="score">{{getTeamOneScore()}}</div>
    </ion-col>
    <ion-col>
      <div class="score">{{getTeamTwoScore()}}</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="addTeamOneScore()">
          +
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="subTeamOneScore()">
          -
        </button>
      </ion-buttons>
    </ion-col>

    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="addTeamTwoScore()">
          +
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="subTeamTwoScore()">
          -
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="timeout-label">Timeouts</div>
    </ion-col>
    <ion-col>
      <div class="timeout-label">Timeouts</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="timeout">{{getTeamOneTimeouts()}}</div>
    </ion-col>
    <ion-col>
      <div class="timeout">{{getTeamTwoTimeouts()}}</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="addTeamOneTimeouts()">
          +
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="subTeamOneTimeouts()">
          -
        </button>
      </ion-buttons>
    </ion-col>

    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="addTeamTwoTimeouts()">
          +
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <button ion-button full (click)="subTeamTwoTimeouts()">
          -
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <foot-nav>
  </foot-nav>
</ion-footer>