<ion-header>
  <head-nav>
  </head-nav>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item no-lines detail-none class="full-item-divider">
      <ion-icon item-start color="primary" name="add"></ion-icon>
      <div item-start>Add new incident</div>
    </button>
    <button ion-item no-lines detail-none class="full-item-divider">
      <ion-icon item-start color="primary" name="create"></ion-icon>
      <div item-start>Zach Brown</div>
      <div item-end>9/18/17</div>
    </button>
    <button ion-item no-lines detail-none class="full-item-divider">
      <ion-icon item-start color="primary" name="eye"></ion-icon>
      <div item-start>Nathan Gray</div>
      <div item-end>10/5/17</div>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <foot-nav>
  </foot-nav>
</ion-footer>